In [91]:
import pandas as pd
import numpy as np

#Updated as of 8/25 9:33 AM
mlbdb = pd.read_csv('/Users/chrisgalgano/desktop/FantasyBBValues/2023_Hitter_Data.csv') #Data taken from baseball reference
mlbdb = mlbdb.sort_values('PA', ascending =False)
mlbdb = mlbdb.head(400)
mlbdb['Pos'] = mlbdb['Pos'].str.replace('*','')

mlbdb

/var/folders/xb/k5jn_45j51v9dkktpk3b41ch0000gn/T/ipykernel_57072/3392915724.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  mlbdb['Pos'] = mlbdb['Pos'].str.replace('*','')

,Rk,Name,Age,Tm,Lg,G,PA,AB,R,H,...,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,Pos,Name-additional
665,666,Marcus Semien,32,TEX,AL,127,593,528,97,147,...,0.814,121.0,246,4,2,0,5,1,4,semiema01
3,4,Ronald Acuna Jr.,25,ATL,NL,126,582,505,113,169,...,0.988,162.0,287,12,7,0,2,2,9,acunaro01
250,251,Freddie Freeman*,33,LAD,NL,126,573,500,104,168,...,0.988,164.0,288,8,11,0,5,9,3,freemfr01
87,88,Alex Bregman,29,HOU,AL,128,571,493,78,127,...,0.787,115.0,212,14,4,0,1,1,5/D,bregmal01
420,421,Nathaniel Lowe*,27,TEX,AL,126,569,494,77,138,...,0.818,124.0,222,13,3,0,3,2,3,lowena01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,197,Jason Delay,28,PIT,NL,58,146,130,16,36,...,0.733,99.0,51,4,2,2,1,0,2/H,delayja01
596,597,Pablo Reyes,29,BOS,AL,48,146,133,25,43,...,0.797,114.0,58,2,0,2,2,0,64/H15D,reyespa01
728,729,Tyrone Taylor,29,MIL,NL,52,145,138,18,31,...,0.661,78.0,56,6,1,0,1,0,9/H78D,tayloty01
574,575,AJ Pollock,35,TOT,MLB,54,144,133,15,22,...,0.524,46.0,41,1,0,0,2,0,D7H/89,polloaj01
516,517,Bo Naylor*,23,CLE,AL,42,143,128,15,26,...,0.646,81.0,46,1,0,0,0,0,2/H,naylobo01

In [92]:
lg_battingavg = np.sum(mlbdb['H'])/np.sum(mlbdb['AB']) #Calculating league average batting average
lg_sluggingavg = np.sum(mlbdb['TB'])/ np.sum(mlbdb['AB']) # slugging

stats = mlbdb[['Name','Pos','AB','R','HR','RBI', 'BB', 'BA','H','SLG', 'TB', 'SB']]
stats

,Name,Pos,AB,R,HR,RBI,BB,BA,H,SLG,TB,SB
665,Marcus Semien,4,528,97,20,80,57,0.278,147,0.466,246,13
3,Ronald Acuna Jr.,9,505,113,28,74,68,0.335,169,0.568,287,58
250,Freddie Freeman*,3,500,104,23,85,57,0.336,168,0.576,288,17
87,Alex Bregman,5/D,493,78,20,83,73,0.258,127,0.430,212,3
420,Nathaniel Lowe*,3,494,77,15,67,69,0.279,138,0.449,222,0
...,...,...,...,...,...,...,...,...,...,...,...,...
196,Jason Delay,2/H,130,16,1,16,11,0.277,36,0.392,51,0
596,Pablo Reyes,64/H15D,133,25,2,18,9,0.323,43,0.436,58,5
728,Tyrone Taylor,9/H78D,138,18,5,18,5,0.225,31,0.406,56,6
574,AJ Pollock,D7H/89,133,15,5,15,9,0.165,22,0.308,41,0
516,Bo Naylor*,2/H,128,15,4,15,15,0.203,26,0.359,46,1

In [93]:
#Calculating z score for each category
stats['Z_R'] = round((stats['R']-np.mean(stats['R']))/np.std(stats['R']),3)
stats['Z_HR'] = round((stats['HR']-np.mean(stats['HR']))/np.std(stats['HR']),3)
stats['Z_RBI'] = round((stats['RBI']-np.mean(stats['RBI']))/np.std(stats['RBI']),3)
stats['Z_SB'] = round((stats['SB']-np.mean(stats['SB']))/np.std(stats['SB']),3)
stats['Z_SB'] = stats['Z_SB']*.5
stats['Z_BB'] = round((stats['BB']-np.mean(stats['BB']))/np.std(stats['BB']),3)

#Hits above average = Player Hits - (Player AB * League Batting Average)
stats['HOA'] = round(stats['H'] - (stats['AB']*lg_battingavg),1)
stats['Z_AVG'] = round(((stats['HOA']-np.mean(stats['HOA']))/(np.std(stats['HOA']))/4),3)
#Bases above average = Player bases - (Player AB * League Slugging average)
stats['BOA'] = round(stats['TB'] - (stats['AB'] * lg_sluggingavg),1)
stats['Z_SLG'] = round(((stats['BOA']-np.mean(stats['BOA']))/(np.std(stats['HOA']))/4),3)
       
stats

/var/folders/xb/k5jn_45j51v9dkktpk3b41ch0000gn/T/ipykernel_57072/4086446647.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stats['Z_R'] = round((stats['R']-np.mean(stats['R']))/np.std(stats['R']),3)
/var/folders/xb/k5jn_45j51v9dkktpk3b41ch0000gn/T/ipykernel_57072/4086446647.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stats['Z_HR'] = round((stats['HR']-np.mean(stats['HR']))/np.std(stats['HR']),3)
/var/folders/xb/k5jn_45j51v9dkktpk3b41ch0000gn/T/ipykernel_57072/4086446647.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stats['Z_RBI'] = round((stats['RBI']-np.mean(stats['RBI']))/np.std(stats['RBI']),3)
/var/folders/xb/k5jn_45j51v9dkktpk3b41ch0000gn/T/ipykernel_57072/4086446647.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stats['Z_SB'] = round((stats['SB']-np.mean(stats['SB']))/np.std(stats['SB']),3)
/var/folders/xb/k5jn_45j51v9dkktpk3b41ch0000gn/T/ipykernel_57072/4086446647.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stats['Z_SB'] = stats['Z_SB']*.5
/var/folders/xb/k5jn_45j51v9dkktpk3b41ch0000gn/T/ipykernel_57072/4086446647.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stats['Z_BB'] = round((stats['BB']-np.mean(stats['BB']))/np.std(stats['BB']),3)
/var/folders/xb/k5jn_45j51v9dkktpk3b41ch0000gn/T/ipykernel_57072/4086446647.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stats['HOA'] = round(stats['H'] - (stats['AB']*lg_battingavg),1)
/var/folders/xb/k5jn_45j51v9dkktpk3b41ch0000gn/T/ipykernel_57072/4086446647.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stats['Z_AVG'] = round(((stats['HOA']-np.mean(stats['HOA']))/(np.std(stats['HOA']))/4),3)
/var/folders/xb/k5jn_45j51v9dkktpk3b41ch0000gn/T/ipykernel_57072/4086446647.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stats['BOA'] = round(stats['TB'] - (stats['AB'] * lg_sluggingavg),1)
/var/folders/xb/k5jn_45j51v9dkktpk3b41ch0000gn/T/ipykernel_57072/4086446647.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stats['Z_SLG'] = round(((stats['BOA']-np.mean(stats['BOA']))/(np.std(stats['HOA']))/4),3)

,Name,Pos,AB,R,HR,RBI,BB,BA,H,SLG,...,SB,Z_R,Z_HR,Z_RBI,Z_SB,Z_BB,HOA,Z_AVG,BOA,Z_SLG
665,Marcus Semien,4,528,97,20,80,57,0.278,147,0.466,...,13,2.807,1.134,1.984,0.4135,1.659,13.9,0.358,23.3,0.600
3,Ronald Acuna Jr.,9,505,113,28,74,68,0.335,169,0.568,...,58,3.628,2.177,1.679,3.2210,2.326,41.7,1.073,74.0,1.904
250,Freddie Freeman*,3,500,104,23,85,57,0.336,168,0.576,...,17,3.166,1.525,2.238,0.6630,1.659,41.9,1.078,77.1,1.984
87,Alex Bregman,5/D,493,78,20,83,73,0.258,127,0.430,...,3,1.832,1.134,2.136,-0.2105,2.630,2.7,0.069,4.1,0.106
420,Nathaniel Lowe*,3,494,77,15,67,69,0.279,138,0.449,...,0,1.780,0.483,1.323,-0.3975,2.387,13.4,0.345,13.7,0.353
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,Jason Delay,2/H,130,16,1,16,11,0.277,36,0.392,...,0,-1.350,-1.342,-1.271,-0.3975,-1.133,3.2,0.082,-3.8,-0.098
596,Pablo Reyes,64/H15D,133,25,2,18,9,0.323,43,0.436,...,5,-0.888,-1.211,-1.170,-0.0855,-1.255,9.5,0.244,1.9,0.049
728,Tyrone Taylor,9/H78D,138,18,5,18,5,0.225,31,0.406,...,6,-1.247,-0.820,-1.170,-0.0230,-1.497,-3.8,-0.098,-2.2,-0.057
574,AJ Pollock,D7H/89,133,15,5,15,9,0.165,22,0.308,...,0,-1.401,-0.820,-1.322,-0.3975,-1.255,-11.5,-0.296,-15.1,-0.388
516,Bo Naylor*,2/H,128,15,4,15,15,0.203,26,0.359,...,1,-1.401,-0.951,-1.322,-0.3350,-0.890,-6.3,-0.162,-8.0,-0.206

In [94]:
#Adjusted Positions

zdata = stats[['Name','Pos','AB','R','HR','RBI','SB','BB','BA', 'SLG', 'Z_R',
               'Z_HR','Z_RBI','Z_SB','Z_BB','Z_AVG', 'Z_SLG']]

pp = []
for item in zdata['Pos']:
    temp = ""
    if item[0] == '1':
        temp="SP"
    elif item[0] == '2':
        temp="C"
    elif item[0] == '3':
        temp="1B"
    elif item[0] == '4':
        temp="2B"
    elif item[0] == '6':
        temp="SS"
    elif item[0] == '5':
        temp="3B"
    elif item[0] == '7':
        temp="OF"
    elif item[0] == '8':
        temp="OF"
    elif item[0] == '9':
        temp="OF"
    elif item[0] =='D':
        temp="DH"
    else:
        temp= item[0]
    pp.append(temp)

zdata['PrimaryPos'] = pp






my_list = []
for item in zdata['Pos']:
    temp = ""
    for i in range(len(item)):
        if item[i] == '1':
            temp+="SP,"
        elif item[i] == '2':
            temp+="C,"
        elif item[i] == '3':
            temp+="1B,"
        elif item[i] == '4':
            temp+="2B,"
        elif item[i] == '6':
            temp+="SS,"
        elif item[i] == '5':
            temp+="3B,"
        elif item[i] == '7':
            if temp.find("OF") == -1:
                temp+="OF,"
        elif item[i] == '8':
            if temp.find("OF") == -1:
                temp+="OF,"
        elif item[i] == '9':
            if temp.find("OF") == -1:
                temp+="OF,"
        elif item[i] =='D':
            temp+="DH,"
        elif item[i] =='H':
            temp+=""
        elif item[i] == '/':
            break
    my_list.append(temp[0:-1])

zdata['Pos'] = my_list

test = zdata['Pos'].str.get_dummies(sep=',')
test
zdata = zdata.join(test)
zdata

/var/folders/xb/k5jn_45j51v9dkktpk3b41ch0000gn/T/ipykernel_57072/1104691156.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zdata['PrimaryPos'] = pp
/var/folders/xb/k5jn_45j51v9dkktpk3b41ch0000gn/T/ipykernel_57072/1104691156.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zdata['Pos'] = my_list

,Name,Pos,AB,R,HR,RBI,SB,BB,BA,SLG,...,Z_SLG,PrimaryPos,1B,2B,3B,C,DH,OF,SP,SS
665,Marcus Semien,2B,528,97,20,80,13,57,0.278,0.466,...,0.600,2B,0,1,0,0,0,0,0,0
3,Ronald Acuna Jr.,OF,505,113,28,74,58,68,0.335,0.568,...,1.904,OF,0,0,0,0,0,1,0,0
250,Freddie Freeman*,1B,500,104,23,85,17,57,0.336,0.576,...,1.984,1B,1,0,0,0,0,0,0,0
87,Alex Bregman,3B,493,78,20,83,3,73,0.258,0.430,...,0.106,3B,0,0,1,0,0,0,0,0
420,Nathaniel Lowe*,1B,494,77,15,67,0,69,0.279,0.449,...,0.353,1B,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,Jason Delay,C,130,16,1,16,0,11,0.277,0.392,...,-0.098,C,0,0,0,1,0,0,0,0
596,Pablo Reyes,"SS,2B",133,25,2,18,5,9,0.323,0.436,...,0.049,SS,0,1,0,0,0,0,0,1
728,Tyrone Taylor,OF,138,18,5,18,6,5,0.225,0.406,...,-0.057,OF,0,0,0,0,0,1,0,0
574,AJ Pollock,"DH,OF",133,15,5,15,0,9,0.165,0.308,...,-0.388,DH,0,0,0,0,1,1,0,0
516,Bo Naylor*,C,128,15,4,15,1,15,0.203,0.359,...,-0.206,C,0,0,0,1,0,0,0,0

In [95]:
pos_z = zdata.groupby('PrimaryPos',as_index=False)['Z_R','Z_HR','Z_RBI','Z_SB','Z_BB','Z_AVG','Z_SLG'].mean()
pos_z.columns=['PrimaryPos','AVGZ_R','AVGZ_HR','AVGZ_RBI','AVGZ_SB','AVGZ_BB','AVGZ_AVG','AVGZ_SLG']
replace_z = zdata.groupby('PrimaryPos',as_index=False)['Z_R','Z_HR','Z_RBI','Z_SB','Z_BB','Z_AVG','Z_SLG'].min()
replace_z.columns=['PrimaryPos','RepZ_R','RepZ_HR','RepZ_RBI','RepZ_SB','RepZ_BB','RepZ_AVG','RepZ_SLG']

z_changes = pd.merge(pos_z,replace_z,on='PrimaryPos')
z_changes=z_changes.round(decimals=3)

zdata = pd.merge(zdata,z_changes,how='left',on='PrimaryPos')

/var/folders/xb/k5jn_45j51v9dkktpk3b41ch0000gn/T/ipykernel_57072/3727778804.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  pos_z = zdata.groupby('PrimaryPos',as_index=False)['Z_R','Z_HR','Z_RBI','Z_SB','Z_BB','Z_AVG','Z_SLG'].mean()
/var/folders/xb/k5jn_45j51v9dkktpk3b41ch0000gn/T/ipykernel_57072/3727778804.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  replace_z = zdata.groupby('PrimaryPos',as_index=False)['Z_R','Z_HR','Z_RBI','Z_SB','Z_BB','Z_AVG','Z_SLG'].min()

In [96]:

zdata['Z_R'] = round(zdata['Z_R'] - zdata['RepZ_R'],3)
zdata['Z_HR'] = round(zdata['Z_HR'] - zdata['RepZ_HR'],3)
zdata['Z_RBI'] = round(zdata['Z_RBI'] - zdata['RepZ_RBI'],3)
zdata['Z_SB'] = round(zdata['Z_SB'] - zdata['RepZ_SB'],3)
zdata['Z_BB'] = round(zdata['Z_BB'] - zdata['RepZ_BB'],3)
zdata['Z_AVG'] = round(zdata['Z_AVG'] - zdata['RepZ_AVG'],3)
zdata['Z_SLG'] = round(zdata['Z_SLG'] - zdata['RepZ_SLG'],3)

zdata['Score'] = (zdata['Z_R'] + zdata['Z_HR'] + zdata['Z_RBI'] + zdata['Z_SB'] + 
                  zdata['Z_BB'] + zdata['Z_AVG'] + zdata['Z_SLG'])/7
zdata = zdata.sort_values(by='Score',ascending=False)

totaldollars = (260*12*.6)
print('{}$ to spend'.format(totaldollars))

perplayer = round(totaldollars/len(zdata),1)
print('Average ${}/player'.format(perplayer))

zdata['ZAR'] = zdata['Score']/np.mean(zdata['Score'])
zdata['$'] = round(zdata['ZAR']*perplayer,2)
printdf = zdata[['Name','PrimaryPos',
                 'AB',
                 'Z_R','Z_HR','Z_RBI','Z_SB','Z_BB','Z_AVG','Z_SLG',
                 'Score','$']] 

printdf.to_csv('HitterPlayerValues.csv', index= False)

printdf

1872.0$ to spend
Average $4.7/player

,Name,PrimaryPos,AB,Z_R,Z_HR,Z_RBI,Z_SB,Z_BB,Z_AVG,Z_SLG,Score,$
1,Ronald Acuna Jr.,OF,505,5.183,3.519,3.255,3.619,3.823,1.876,3.103,3.482571,14.42
13,Shohei Ohtani*,DH,467,4.516,5.604,3.865,1.061,4.370,0.986,3.654,3.436571,14.23
15,Mookie Betts,OF,468,4.772,4.301,4.017,0.624,4.066,1.498,3.402,3.240000,13.42
8,Matt Olson*,1B,474,4.259,5.213,4.832,0.063,4.613,0.533,2.949,3.208857,13.29
2,Freddie Freeman*,1B,500,4.567,2.606,3.662,1.061,3.035,1.418,2.846,2.742143,11.36
...,...,...,...,...,...,...,...,...,...,...,...,...
384,Jonathan Schoop,2B,136,0.103,0.000,0.000,0.001,0.425,0.299,0.448,0.182286,0.75
379,Austin Nola,C,130,0.102,0.000,0.000,0.001,0.729,0.183,0.185,0.171429,0.71
393,Kody Clemens*,1B,139,0.000,0.130,0.000,0.001,0.061,0.260,0.666,0.159714,0.66
386,Austin Barnes,C,135,0.000,0.000,0.000,0.125,0.304,0.229,0.183,0.120143,0.50
389,Austin Slater,H,136,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000000,0.00