In [1]:
import pandas as pd
import numpy as np


mlbdb = pd.read_csv('/Users/chrisgalgano/desktop/FantasyBBValues/2023_Hitter_Data.csv')
mlbdb = mlbdb.sort_values('PA', ascending =False)
mlbdb = mlbdb.head(400)
mlbdb['Pos'] = mlbdb['Pos'].str.replace('*','')
mlbdb

/var/folders/xb/k5jn_45j51v9dkktpk3b41ch0000gn/T/ipykernel_7393/3213936112.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  mlbdb['Pos'] = mlbdb['Pos'].str.replace('*','')

,Rk,Name,Age,Tm,Lg,G,PA,AB,R,H,...,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,Pos,Name-additional
557,558,Marcus Semien,32,TEX,AL,99,463,412,78,112,...,0.789,115.0,185,2,1,0,5,1,4,semiema01
207,208,Freddie Freeman*,33,LAD,NL,97,447,387,84,127,...,0.993,163.0,226,5,8,0,4,7,3,freemfr01
2,3,Ronald Acuna Jr.,25,ATL,NL,97,446,391,86,129,...,0.986,160.0,226,7,4,0,2,2,9,acunaro01
348,349,Nathaniel Lowe*,27,TEX,AL,98,444,385,64,109,...,0.821,125.0,173,11,3,0,3,2,3,lowena01
330,331,Steven Kwan*,25,CLE,AL,97,441,392,66,105,...,0.706,99.0,143,6,3,1,3,2,7/DH,kwanst01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232,233,Romy Gonzalez,26,CHW,AL,44,97,93,11,18,...,0.585,57.0,35,0,0,1,1,0,4H/9D7658,gonzaro01
110,111,Curt Casali,34,CIN,NL,40,96,80,8,14,...,0.490,34.0,16,1,2,3,0,0,Feb-35,casalcu01
407,408,Andruw Monasterio,26,MIL,NL,32,94,83,16,24,...,0.758,109.0,32,1,0,0,0,0,45/H6D,monasan01
273,274,David Hensley,27,HOU,AL,29,93,83,12,10,...,0.384,10.0,14,0,0,0,0,0,D/4H375,henslda01
234,235,Nick Gordon*,27,MIN,AL,34,93,91,13,16,...,0.503,36.0,29,1,0,1,0,0,874H/6,gordoni01

In [2]:
lg_battingavg = np.sum(mlbdb['H'])/np.sum(mlbdb['AB'])
lg_sluggingavg = np.sum(mlbdb['TB'])/ np.sum(mlbdb['AB'])

stats = mlbdb[['Name','Pos','AB','R','HR','RBI', 'BB', 'BA','H','SLG', 'TB', 'SB']]
stats

,Name,Pos,AB,R,HR,RBI,BB,BA,H,SLG,TB,SB
557,Marcus Semien,4,412,78,14,60,44,0.272,112,0.449,185,9
207,Freddie Freeman*,3,387,84,20,70,48,0.328,127,0.584,226,12
2,Ronald Acuna Jr.,9,391,86,23,58,49,0.330,129,0.578,226,45
348,Nathaniel Lowe*,3,385,64,11,52,53,0.283,109,0.449,173,0
330,Steven Kwan*,7/DH,392,66,3,32,42,0.268,105,0.365,143,15
...,...,...,...,...,...,...,...,...,...,...,...,...
232,Romy Gonzalez,4H/9D7658,93,11,3,14,2,0.194,18,0.376,35,7
110,Curt Casali,Feb-35,80,8,0,6,11,0.175,14,0.200,16,0
407,Andruw Monasterio,45/H6D,83,16,1,7,11,0.289,24,0.386,32,3
273,David Hensley,D/4H375,83,12,1,3,10,0.120,10,0.169,14,1
234,Nick Gordon*,874H/6,91,13,2,7,1,0.176,16,0.319,29,0

In [3]:
stats['Z_R'] = round((stats['R']-np.mean(stats['R']))/np.std(stats['R']),3)
stats['Z_HR'] = round((stats['HR']-np.mean(stats['HR']))/np.std(stats['HR']),3)
stats['Z_RBI'] = round((stats['RBI']-np.mean(stats['RBI']))/np.std(stats['RBI']),3)
stats['Z_SB'] = round((stats['SB']-np.mean(stats['SB']))/np.std(stats['SB']),3)
stats['Z_SB'] = stats['Z_SB']*.5
stats['Z_BB'] = round((stats['BB']-np.mean(stats['BB']))/np.std(stats['BB']),3)
stats['HOA'] = round(stats['H'] - (stats['AB']*lg_battingavg),1)
stats['Z_AVG'] = round(((stats['HOA']-np.mean(stats['HOA']))/(np.std(stats['HOA']))/4),3)
stats['BOA'] = round(stats['TB'] - (stats['AB'] * lg_sluggingavg),1)
stats['Z_SLG'] = round(((stats['BOA']-np.mean(stats['BOA']))/(np.std(stats['HOA']))/4),3)
       
stats

/var/folders/xb/k5jn_45j51v9dkktpk3b41ch0000gn/T/ipykernel_7393/2689948720.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stats['Z_R'] = round((stats['R']-np.mean(stats['R']))/np.std(stats['R']),3)
/var/folders/xb/k5jn_45j51v9dkktpk3b41ch0000gn/T/ipykernel_7393/2689948720.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stats['Z_HR'] = round((stats['HR']-np.mean(stats['HR']))/np.std(stats['HR']),3)
/var/folders/xb/k5jn_45j51v9dkktpk3b41ch0000gn/T/ipykernel_7393/2689948720.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stats['Z_RBI'] = round((stats['RBI']-np.mean(stats['RBI']))/np.std(stats['RBI']),3)
/var/folders/xb/k5jn_45j51v9dkktpk3b41ch0000gn/T/ipykernel_7393/2689948720.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stats['Z_SB'] = round((stats['SB']-np.mean(stats['SB']))/np.std(stats['SB']),3)
/var/folders/xb/k5jn_45j51v9dkktpk3b41ch0000gn/T/ipykernel_7393/2689948720.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stats['Z_SB'] = stats['Z_SB']*.5
/var/folders/xb/k5jn_45j51v9dkktpk3b41ch0000gn/T/ipykernel_7393/2689948720.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stats['Z_BB'] = round((stats['BB']-np.mean(stats['BB']))/np.std(stats['BB']),3)
/var/folders/xb/k5jn_45j51v9dkktpk3b41ch0000gn/T/ipykernel_7393/2689948720.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stats['HOA'] = round(stats['H'] - (stats['AB']*lg_battingavg),1)
/var/folders/xb/k5jn_45j51v9dkktpk3b41ch0000gn/T/ipykernel_7393/2689948720.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stats['Z_AVG'] = round(((stats['HOA']-np.mean(stats['HOA']))/(np.std(stats['HOA']))/4),3)
/var/folders/xb/k5jn_45j51v9dkktpk3b41ch0000gn/T/ipykernel_7393/2689948720.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stats['BOA'] = round(stats['TB'] - (stats['AB'] * lg_sluggingavg),1)
/var/folders/xb/k5jn_45j51v9dkktpk3b41ch0000gn/T/ipykernel_7393/2689948720.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stats['Z_SLG'] = round(((stats['BOA']-np.mean(stats['BOA']))/(np.std(stats['HOA']))/4),3)

,Name,Pos,AB,R,HR,RBI,BB,BA,H,SLG,...,SB,Z_R,Z_HR,Z_RBI,Z_SB,Z_BB,HOA,Z_AVG,BOA,Z_SLG
557,Marcus Semien,4,412,78,14,60,44,0.272,112,0.449,...,9,2.860,0.916,1.770,0.3175,1.560,8.8,0.267,13.0,0.395
207,Freddie Freeman*,3,387,84,20,70,48,0.328,127,0.584,...,12,3.236,1.906,2.385,0.5540,1.856,30.0,0.911,64.4,1.957
2,Ronald Acuna Jr.,9,391,86,23,58,49,0.330,129,0.578,...,45,3.362,2.400,1.647,3.1545,1.930,31.0,0.942,62.7,1.905
348,Nathaniel Lowe*,3,385,64,11,52,53,0.283,109,0.449,...,0,1.982,0.422,1.278,-0.3920,2.226,12.5,0.380,12.2,0.371
330,Steven Kwan*,7/DH,392,66,3,32,42,0.268,105,0.365,...,15,2.107,-0.897,0.048,0.7905,1.412,6.8,0.207,-20.7,-0.629
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232,Romy Gonzalez,4H/9D7658,93,11,3,14,2,0.194,18,0.376,...,7,-1.344,-0.897,-1.060,0.1600,-1.551,-5.3,-0.161,-3.8,-0.115
110,Curt Casali,Feb-35,80,8,0,6,11,0.175,14,0.200,...,0,-1.532,-1.392,-1.552,-0.3920,-0.885,-6.0,-0.182,-17.4,-0.529
407,Andruw Monasterio,45/H6D,83,16,1,7,11,0.289,24,0.386,...,3,-1.030,-1.227,-1.490,-0.1555,-0.885,3.2,0.097,-2.7,-0.082
273,David Hensley,D/4H375,83,12,1,3,10,0.120,10,0.169,...,1,-1.281,-1.227,-1.736,-0.3130,-0.959,-10.8,-0.328,-20.7,-0.629
234,Nick Gordon*,874H/6,91,13,2,7,1,0.176,16,0.319,...,0,-1.218,-1.062,-1.490,-0.3920,-1.625,-6.8,-0.207,-9.0,-0.273

In [4]:
zdata = stats[['Name','Pos','AB','R','HR','RBI','SB','BB','BA', 'SLG', 'Z_R',
               'Z_HR','Z_RBI','Z_SB','Z_BB','Z_AVG', 'Z_SLG']]

pp = []
for item in zdata['Pos']:
    temp = ""
    if item[0] == '1':
        temp="SP"
    elif item[0] == '2':
        temp="C"
    elif item[0] == '3':
        temp="1B"
    elif item[0] == '4':
        temp="2B"
    elif item[0] == '6':
        temp="SS"
    elif item[0] == '5':
        temp="3B"
    elif item[0] == '7':
        temp="OF"
    elif item[0] == '8':
        temp="OF"
    elif item[0] == '9':
        temp="OF"
    elif item[0] =='D':
        temp="DH"
    else:
        temp= item[0]
    pp.append(temp)

zdata['PrimaryPos'] = pp






my_list = []
for item in zdata['Pos']:
    temp = ""
    for i in range(len(item)):
        if item[i] == '1':
            temp+="SP,"
        elif item[i] == '2':
            temp+="C,"
        elif item[i] == '3':
            temp+="1B,"
        elif item[i] == '4':
            temp+="2B,"
        elif item[i] == '6':
            temp+="SS,"
        elif item[i] == '5':
            temp+="3B,"
        elif item[i] == '7':
            if temp.find("OF") == -1:
                temp+="OF,"
        elif item[i] == '8':
            if temp.find("OF") == -1:
                temp+="OF,"
        elif item[i] == '9':
            if temp.find("OF") == -1:
                temp+="OF,"
        elif item[i] =='D':
            temp+="DH,"
        elif item[i] =='H':
            temp+=""
        elif item[i] == '/':
            break
    my_list.append(temp[0:-1])

zdata['Pos'] = my_list

test = zdata['Pos'].str.get_dummies(sep=',')
test
zdata = zdata.join(test)
zdata

/var/folders/xb/k5jn_45j51v9dkktpk3b41ch0000gn/T/ipykernel_7393/4202181883.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zdata['PrimaryPos'] = pp
/var/folders/xb/k5jn_45j51v9dkktpk3b41ch0000gn/T/ipykernel_7393/4202181883.py:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zdata['Pos'] = my_list

,Name,Pos,AB,R,HR,RBI,SB,BB,BA,SLG,...,Z_SLG,PrimaryPos,1B,2B,3B,C,DH,OF,SP,SS
557,Marcus Semien,2B,412,78,14,60,9,44,0.272,0.449,...,0.395,2B,0,1,0,0,0,0,0,0
207,Freddie Freeman*,1B,387,84,20,70,12,48,0.328,0.584,...,1.957,1B,1,0,0,0,0,0,0,0
2,Ronald Acuna Jr.,OF,391,86,23,58,45,49,0.330,0.578,...,1.905,OF,0,0,0,0,0,1,0,0
348,Nathaniel Lowe*,1B,385,64,11,52,0,53,0.283,0.449,...,0.371,1B,1,0,0,0,0,0,0,0
330,Steven Kwan*,OF,392,66,3,32,15,42,0.268,0.365,...,-0.629,OF,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232,Romy Gonzalez,2B,93,11,3,14,7,2,0.194,0.376,...,-0.115,2B,0,1,0,0,0,0,0,0
110,Curt Casali,"1B,3B",80,8,0,6,0,11,0.175,0.200,...,-0.529,F,1,0,1,0,0,0,0,0
407,Andruw Monasterio,"2B,3B",83,16,1,7,3,11,0.289,0.386,...,-0.082,2B,0,1,1,0,0,0,0,0
273,David Hensley,DH,83,12,1,3,1,10,0.120,0.169,...,-0.629,DH,0,0,0,0,1,0,0,0
234,Nick Gordon*,"OF,2B",91,13,2,7,0,1,0.176,0.319,...,-0.273,OF,0,1,0,0,0,1,0,0

In [5]:
pos_z = zdata.groupby('PrimaryPos',as_index=False)['Z_R','Z_HR','Z_RBI','Z_SB','Z_BB','Z_AVG','Z_SLG'].mean()
pos_z.columns=['PrimaryPos','AVGZ_R','AVGZ_HR','AVGZ_RBI','AVGZ_SB','AVGZ_BB','AVGZ_AVG','AVGZ_SLG']
replace_z = zdata.groupby('PrimaryPos',as_index=False)['Z_R','Z_HR','Z_RBI','Z_SB','Z_BB','Z_AVG','Z_SLG'].min()
replace_z.columns=['PrimaryPos','RepZ_R','RepZ_HR','RepZ_RBI','RepZ_SB','RepZ_BB','RepZ_AVG','RepZ_SLG']

z_changes = pd.merge(pos_z,replace_z,on='PrimaryPos')
z_changes=z_changes.round(decimals=3)

zdata = pd.merge(zdata,z_changes,how='left',on='PrimaryPos')

/var/folders/xb/k5jn_45j51v9dkktpk3b41ch0000gn/T/ipykernel_7393/3727778804.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  pos_z = zdata.groupby('PrimaryPos',as_index=False)['Z_R','Z_HR','Z_RBI','Z_SB','Z_BB','Z_AVG','Z_SLG'].mean()
/var/folders/xb/k5jn_45j51v9dkktpk3b41ch0000gn/T/ipykernel_7393/3727778804.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  replace_z = zdata.groupby('PrimaryPos',as_index=False)['Z_R','Z_HR','Z_RBI','Z_SB','Z_BB','Z_AVG','Z_SLG'].min()

In [10]:

zdata['Z_R'] = round(zdata['Z_R'] - zdata['RepZ_R'],3)
zdata['Z_HR'] = round(zdata['Z_HR'] - zdata['RepZ_HR'],3)
zdata['Z_RBI'] = round(zdata['Z_RBI'] - zdata['RepZ_RBI'],3)
zdata['Z_SB'] = round(zdata['Z_SB'] - zdata['RepZ_SB'],3)
zdata['Z_BB'] = round(zdata['Z_BB'] - zdata['RepZ_BB'],3)
zdata['Z_AVG'] = round(zdata['Z_AVG'] - zdata['RepZ_AVG'],3)
zdata['Z_SLG'] = round(zdata['Z_SLG'] - zdata['RepZ_SLG'],3)
#zdata['ZScore'] = zdata['Z_R'] + zdata['Z_HR'] + zdata['Z_RBI'] + zdata['Z_SB'] + zdata['Z_AVG']
zdata['Score'] = (zdata['Z_R'] + zdata['Z_HR'] + zdata['Z_RBI'] + zdata['Z_SB'] + 
                  zdata['Z_BB'] + zdata['Z_AVG'] + zdata['Z_SLG'])/7
zdata = zdata.sort_values(by='Score',ascending=False)

totaldollars = (260*12*.6)
print('{}$ to spend'.format(totaldollars))

perplayer = round(totaldollars/len(zdata),1)
print('Average ${}/player'.format(perplayer))

zdata['ZAR'] = zdata['Score']/np.mean(zdata['Score'])
zdata['$'] = round(zdata['ZAR']*perplayer,2)
printdf = zdata[['Name','PrimaryPos', 'Pos','1B','2B','3B','C','DH','OF','SP','SS',
                 'AB','R','HR','RBI','SB','BB','BA','SLG',
                 'Z_R','Z_HR','Z_RBI','Z_SB','Z_BB','Z_AVG','Z_SLG',
                 'Score','$']] 

printdf.to_csv('HitterPlayerValues.csv', index= False)

1872.0$ to spend
Average $4.7/player